:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    font-family: url(https://fonts.google.com/specimen/Figtree);
}
.container {
    padding: 20px;
    width: 350px;
    background-color: var(--White);
    border: 1.2px solid var(--Black);
    border-radius: 24px;
}
.img-container {
    max-width: 100%;
}
.img {
    width: 100%;
    border-radius: 14px;
    padding-bottom: 1rem;
}
.header {
    width: 80px;
    height: 25px;
    background-color: var(--Yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}
.sub-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sub {
    font-size: 16px;
}
.main {
    padding-bottom: 1rem;
}
.text {
    transition: 0.5s;
}
.text:hover {
    color: var(--Yellow);
}
.content {
    color: var(--Grey);
}
.ending {
    padding-top: 1rem;
    display: flex;
}
.end {
    width: 40px;
    height: 40px;
}
.the-end {
    padding-top: 12px;
    padding-left: 1rem;
    font-weight: 800;
}
@media screen and (max-width: 375px) {
    .container {
        width: 90%;
    }
}